{% extends "base.html" %}{% block content %}

{% load static %}

<!-- index.html content starts here -->

<h1>Oodles of Comfort</h1>
<section id="hero-image-container">
    <div>
        <img src="{% static 'images/ramen_naruto.jpg' %}" class="hero-image" alt="placeholder">
    </div>
</section>

<div>
    <h3>Recipe cards to go here</h3>
</div>

<div id="about-us">
    <span>
        Welcome to 'Oodles of Comfort' - your ultimate destination for soul-warming ramen recipes that bring joy with every slurp! 
        Dive into a world of homemade goodness where every bowl tells a tale of comfort and culinary creativity. 
        From classic tonkotsu to inventive vegetarian twists, our blog is your go-to source for easy-to-follow recipes, 
        tantalizing flavor combinations, and tips for crafting the perfect bowl of steaming goodness. 
        Whether you're a ramen aficionado or a novice in the kitchen, let 'Oodles of Comfort' inspire you to 
        create moments of cozy indulgence with each delicious spoonful.
    </span>
</div>

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Recipes to be displayed here</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Recipes to be displayed here</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Recipes to be displayed here</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Recipes to be displayed here</p>
            </div>
          </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!-- index.html content ends here -->
{% endblock %}