{% extends 'base.html' %} {% block content %}
{% load static %}

<h1>Choose your next favourite dish!</h1>

<div id="recipe-card-list">
    {% for recipe in recipe_list %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ recipe.featured_image.url}}" class="img-fluid rounded-start" alt="{{ recipe.title }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.title }}</h5>
              <p class="card-text"> {{ recipe.recipe_blurb | safe }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
</div>

{% endblock %}